@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap%27');

body{
  margin: 0;
  padding: 0;
  /* background-color:rgba(38, 105, 136, 0.9); */
  font-family: 'Montserrat';
  background-image: url(../notas_musicais_-_papel_de_parede_do_tema_musical\ Papel\ de\ parede__1024x768[10wallpaper.com].jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  color: white;
  border-bottom: 3px solid #000;
  top: 1300px;

}

.header .container {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0);
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 10px;
}
.header h1{
    font-size: 35px;
    margin-left: 70px;
    color: #fff;
    -webkit-text-stroke: 1px #FFF;
    -stroke: 1px #FFF;
}   
.navbar {
  width: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: #fff;
}
.navbar  a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5px;
	border: 1px solid transparent;
    border-radius: 10px;

}
.navbar  a:hover{
    background-color: #fff;
	color: black;
	transition: 0.5s;
    font-weight: bold;
}
section{
    height: 10%;
    padding: 100px;
    background-color: rgba(0,0,0,0.2);
}
.a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.graf{
 height: 40vh;
 width: 45vw;
}
h2{
  width: 42vw;
  margin-top: 20px;
  margin-left: 300px;
  color: #000;
  /* background-color:#fff; */
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
}
.content{
  border: solid 4px;
    width: 54vw;
    height: 62vh;
    position: absolute;
    left: 20%;
    top: 25%;
    background-color: rgb(255, 255, 255, 0.9);
   
}
#graficomusico{

  max-width: 40%;
  
  height: auto; 
  
  display: table; 
  
  border-collapse: separate;
  
  }
  
  .footer-container {
    background-color: #000;
    height: 30vh;
    width: 99.1vw;
    margin: 0;
    padding-top: 40px;
    color: #fff;    
  }
   .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-container h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    -webkit-text-stroke: 1px #FFF;
    -stroke: 1px #FFF;
    text-decoration: none;
  }
  .footer-container p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 8px;
    font-size: 14px;
  }
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-right: 50px;
  }
  .socials li{
        margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
  }
  .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  .socials a:hover i{
    color: rgba(255, 0, 0, 0.5);
  }
  .footer .container h4 {
      margin-top:0px;
  } 
  .btn1{
    padding: 0px;
    width: 20vw;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;

    background: rgb(7, 2, 2);
    color:  rgb(186, 151, 10);
    font-weight: bold;
}
.btn1:hover{
   letter-spacing: .1px;
    transition: 1s;
}
.posibotao{
  position:absolute;
  top: 90%;
  left: 28%;
}
