body{
  margin: 0;
  padding: 0;
  background-color:rgba(0, 0, 0, 0.9);
}

.header {
  color: white;
  border-bottom: 3px solid #000;

}

.header .container {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.9);
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 10px;
}
.header h1 a{
    font-size: 35px;
    margin-left: 70px;
}
.navbar {
  width: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: #fff;
   
}
.navbar  a {
  color: #fff;
  text-decoration: none;
  padding: 5px 5px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.navbar  a:hover{
  background-color: #fff;
   color: black;
   transition: 0.5s;
  font-weight: bold;
}
.dash{
 width: 50vw;
 height: 50vh;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 border: solid 3px ;
 border-radius: 5px;
}
.posi{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
}
